<% if primeiro %>
    <%= link_to agendamento_path(agendamento), :class => "a" do %>
        <div class="cartao_agendamento__container primeiro" id="primeiro">
            
            <div class="cartao_agendamento__info_usuario">
                <%= image_tag "avatar_#{agendamento.barbeiro.profile_image}.png", :id=>"primeiro__foto" %>

                <span class="cartao_agendamento_nome_usuario">
                    <%= agendamento.barbeiro.nome %>
                </span>
            </div>
            
            <div class="cartao_agendamento__horario_container">
                <%= image_tag "icon_horario.png" %>
                <span class="cartao_agendamento__horario">
                    <%= agendamento.data_agendamento.strftime("%H:%M") %>
                </span>
            </div>
        </div>
    <% end %>
<% else %>
    <%= link_to agendamento_path(agendamento), :class => "a" do %>
        <div class="cartao_agendamento__container proximos">
            <div class="cartao_agendamento__info_usuario">
                <%= image_tag "avatar_#{agendamento.barbeiro.profile_image}.png", :id=>"header__user_img" %>

                <span class="cartao_agendamento_nome_usuario">
                    <%= agendamento.barbeiro.nome %>
                </span>
            </div>
            
            <div class="cartao_agendamento__horario_container">

                <span class="cartao_agendamento__horario">
                    <%= agendamento.data_agendamento.strftime("%d/%m/%Y às %H:%M") %>
                </span>
            </div>
        </div>
    <% end %>
<% end %>
