<%= form_for :session, url: login_path do |f| %>
<div class="field">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
<%= f.label :password %><br />
<%= f.password_field :password, autocomplete: "off" %>
</div>
<div class="actions">
<%= f.submit "Entrar" %>
<% flash.each do |type, msg| %>
    <div>
        <p><%= msg %> </p>
    </div>
<% end %>
</div>
<p><%= link_to "Criar conta", cadastro_path %></p>
<% end %>