<% if @agendamentos.blank? %>
    <p>Não há agendamentos neste dia.</p>
<% else %>
    <h1>Listagem de agendamentos - <%= Date.parse(params[:data]).to_fs(:long) %></h1>

    <%= link_to "<", "/agendamentos-barbeiro/#{params[:nomeBarbeiro]}?data=#{(params[:data].to_date-1).to_s}" %>


    <% @agendamentos.each do |agendamento| %>
        <p>
            <strong>Nome Cliente</strong><br>
            <%= agendamento.nomeCliente %>
        </p>

        <p>
            <strong>Nome Serviço</strong><br>
            <%= agendamento.nomeServico %>
        </p>


        <p>
            <strong>Horário Serviço</strong><br>
            <%= agendamento.dataAgendada.strftime("%I:%M%p") %>
        </p>

    <% end %>
<% end %>
