<h1>Listagem de agendamentos - <%= Date.parse(params[:data]).to_fs(:long) %></h1>
<%= link_to "<", "/agendamentos-barbeiro/#{session[:usuario_id]}?data=#{(params[:data].to_date-1).to_s}" %>
<span><%= Date.parse(params[:data]).strftime('%d/%m/%Y') %></span>
<%= link_to ">", "/agendamentos-barbeiro/#{session[:usuario_id]}?data=#{(params[:data].to_date+1).to_s}" %>
<br>
<% if @agendamentos.blank? %>
 
    <p>Não há agendamentos neste dia.</p>

<% else %>
    <br>
    <% @agendamentos.each do |agendamento| %>
        <p>
            <strong>Cliente:</strong>
            <%= agendamento.cliente.nome %>
        </p>

        <p>
            <strong>Horário:</strong>
            <%= agendamento.dataAgendamento.strftime("%I:%M%p") %>
        </p>
        <br>
    <% end %>
<% end %>

<%= link_to "Voltar", root_path %></li>
