<h1>Listagem de agendamentos - <%= Date.parse(params[:data]).to_fs(:long) %></h1>
<%= link_to "<", "/agendamentos-barbeiro/#{session[:usuario_id]}?data=#{(params[:data].to_date - 1).to_s}" %>
<span><%= Date.parse(params[:data]).strftime('%d/%m/%Y') %></span>
<%= link_to ">", "/agendamentos-barbeiro/#{session[:usuario_id]}?data=#{(params[:data].to_date + 1).to_s}" %>
<br>


<%= date_select('data_alterar', 'date') %>

<%= button_tag "Alterar Data", type: 'button', :onclick => "changeDate(#{session[:usuario_id]});"%>

<% if @agendamentos.blank? %>

  <p>Não há agendamentos neste dia.</p>

<% else %>
  <br>
  <% @agendamentos.each do |agendamento| %>
    <p>
      <strong>Cliente:</strong>
      <%= agendamento.cliente.nome %>
    </p>

    <p>
      <strong>Horário:</strong>
      <%= agendamento.data_agendamento.strftime("%k:%M") %>
    </p>
    <%= button_to "Cancelar agendamento", agendamento, :method => :delete, form: { data: { turbo_confirm: 'Tem certeza que deseja cancelar o agendamento?' } } %>
    <br>
  <% end %>
<% end %>


<%= link_to "Voltar", root_path %></li>

<script>
function changeDate(userId) {
    var mes=document.getElementById("data_alterar_date_2i").value;
    var dia=document.getElementById("data_alterar_date_3i").value;
    var link="";
    if(mes.length==1){
      mes='0'+mes;
    }
    if(dia.length==1){
      dia='0'+dia;
    }
    var data = document.getElementById("data_alterar_date_1i").value +"-"+ mes +"-"+ dia;
    if(window.location.href.includes("localhost")){
      link = "http://localhost:3000/agendamentos-barbeiro/"+userId+"?data="+data;
    }else{
      link = "https://go-barber-es.herokuapp.com/agendamentos-barbeiro/"+userId+"?data="+data;
    }
    window.location.href = link;
}
</script>

