<h1>Cadastro agendamento</h1>

<% if @agendamento.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @agendamento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :agendamento, url: agendamentos_path, local: true do |form| %>

  <p>
    <%= form.label :"Nome Barbeiro"%><br>
    <%= form.number_field :idBarbeiro %>
  </p>

  <p>
    <%= form.label :"Nome Serviço"%><br>
    <%= form.number_field :idServico %>
  </p>


  <p>
    <%= form.label :"Data Serviço"%><br>
    <%= form.datetime_select :dataAgendamento %>
  </p>

  <p>
    <%= form.submit 'Agendar' %>
  </p>
<% end %>


