<h1>Cadastro agendamento</h1>

<% if @agendamento.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @agendamento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :agendamento, url: agendamentos_path, local: true do |form| %>
  <br>
  <p>
    <%= form.label :"Barbeiro"%><br>
    <%= form.select :barbeiro_id, @usuarios.map { |t| [t.nome, t.id]} %>
  </p>

  <br>
  <p>
    <%= form.label :"Serviço"%><br>
    <%= form.select :nomeServico, @servicos.map { |t| [t]} %>
  </p>
  <br>

  <p>
    <%= form.label :"Data Serviço"%><br>
    <%= form.datetime_select :dataAgendamento %>
  </p>
  <br>

  <p>
    <%= form.submit 'Agendar' %>
  </p>
<% end %>


