<h1>Cadastro agendamento</h1>

<% if @agendamento.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @agendamento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :agendamento, url: agendamentos_path, local: true do |form| %>
  <br>
  <p>

    <%= form.label :"Nome Barbeiro"%><br>
    <%= form.select(:barbeiro_id, options_for_select(@barbeirosDDL || Usuario.all.map { |c| [ c.nome, c.id ] }), :prompt => "Selecione o Barbeiro!") %> 

  </p>

  <br>
  <p>
    <%= form.label :"Data Serviço"%><br>
    <%= form.datetime_select :dataAgendamento %>
  </p>
  <br>

  <p>
    <%= form.submit 'Agendar' %>
  </p>
<% end %>

<%= link_to "Voltar", "/usuarios/#{session[:idUsuario]}" %></li>
