<%= form_for @usuario do |f| %>
            <% if @usuario.errors.any? %>
            <div id="error_explanation">
                        <div class="alert-error">
                                   O formulário contém <%= pluralize(@usuario.errors.count, "erro") %>.
                        </div>
                        <ul>
                                   <% @usuario.errors.full_messages.each do |msg| %>
                                   <li><%= msg %></li>
                                   <% end %>
                        </ul>
            </div>
<% end %>
            <% if !pagina_edicao %>
                <div class="content__radio">
                    <%= f.radio_button :iscliente, true, {checked: true} %>
                    <%= f.label :iscliente_true, "Sou cliente" %>
                    <%= f.radio_button :iscliente, false %>
                    <%= f.label :iscliente_false, "Sou cabeleireiro" %>
                </div>
            <% end %>
            <div class="content__field">
                <%= f.text_field :nome, placeholder: "Nome" %>
            </div>
            <div class="content__field">
                <%= f.email_field :email, placeholder: "E-mail" %>
            </div>
            <div class="content__field">
                <%= f.password_field :password, placeholder: "Senha" %>
            </div>
            <div class="content__btn">
                <%= f.submit pagina_edicao ? "Confirmar": "Cadastrar" %>
            </div>

            <% flash.each do |type, msg| %>
                <div>
                    <p><%= msg %> </p>
                </div>
            <% end %>
<% end %>