<div class="container">
    <div class="background"></div>
    <div class="content">
        <%= image_tag "logo.png", :class=>"content__logo" %>

        <%= image_tag "avatar_#{Current.usuario.profile_image}.png", :id=>"user_profile_img", :alt => "avatar_#{Current.usuario.profile_image}" %>
        <div class="content__img__update">
                
            <%= link_to link_to "Avatar 01", "/perfil-image/01", :id => "avatar_01", :class => "link-#{Current.usuario.profile_image == '01' ? "true" : "false"}" %> |
            <%= link_to link_to "Avatar 02", "/perfil-image/02", :id => "avatar_02", :class => "link-#{Current.usuario.profile_image == '02' ? "true" : "false"}" %> |
            <%= link_to link_to "Avatar 03", "/perfil-image/03", :id => "avatar_03", :class => "link-#{Current.usuario.profile_image == '03' ? "true" : "false"}" %> |
            <%= link_to link_to "Avatar 04", "/perfil-image/04", :id => "avatar_04", :class => "link-#{Current.usuario.profile_image == '04' ? "true" : "false"}" %> |
            <%= link_to link_to "Avatar 05", "/perfil-image/05", :id => "avatar_05", :class => "link-#{Current.usuario.profile_image == '05' ? "true" : "false"}" %> 

        </div>

        <p class="content__link" >Alterar Perfil</p>
        <br>

        <%= form_for Current.usuario do |f| %>
            <div class="content__field">
                <%= f.text_field :nome, placeholder: "Nome" %>
            </div>
            <div class="content__field">
                <%= f.email_field :email, placeholder: "E-mail", id:"email" %>
            </div>
            <div class="content__field">
                <%= f.password_field :password, placeholder: "Senha", id:"password" %>
            </div>
            <div class="content__btn">
                <%= f.submit "Confirmar" , :id=>"btn" %>
       
                
            </div>

            <% flash.each do |type, msg| %>
                <div>
                    <p><%= msg %> </p>
                </div>
            <% end %>
        <% end %>
        

        <%= link_to "Voltar", root_path, :class => "content__link" %></li>
    </div>
</div>
