<div class="container">
    <div class="background"></div>
    <div class="content">
        <%= image_tag "logo.png", :class=>"content__logo" %>
        <h3 class="content__title">Por favor, insira seu endereço de email. Enviaremos um email para que possa resetar sua senha.</h3>
        <%= form_with do |f| %>
            <div class="content__field">
                <%= f.email_field :email, placeholder: "E-mail", id:"email" %>
            </div>
            <div class="content__btn">
                <%= f.submit "Enviar email" %>
            </div>
            <% flash.each do |type, msg| %>
                <div class="content__link">
                    <p><%= msg %> </p>
                </div>
            <% end %>
        <% end %>
    </div>
</div>