<header>
  <div>
    <nav>
      <ul>
        <% if logado? %>
          <ul>
              <li><%= link_to "Meu perfil", perfil_path(usuario_atual) %></li>
              <li><%= link_to "Meus Agendamentos",  "/agendamentos-barbeiro/#{@usuario.nome}?data=#{Date.current()}" %></li>
              <li><%= link_to 'agendar servico', agendamentos_new_path %></li>

              <li>
                <%= link_to "Sair", logout, method: "delete" %>
              </li>
          </ul>
        <% else %>
          <% if controller_name == "usuarios" && action_name == "new" %>
            <li><%= link_to "Entrar", root_path %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>